<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>WiseClient</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- SURVEY APPLICATION SERVLETS -->
	
	<servlet>

		<display-name>print_survey</display-name>
		<servlet-name>print_survey</servlet-name>
		<servlet-class>edu.ucla.wise.client.admin.SurveyPrinter</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>admin_preface_loader</servlet-name>
		<url-pattern>/survey/admin_preface_loader</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>imageRender</display-name>
		<servlet-name>AppImageRender</servlet-name>
		<servlet-class>edu.ucla.wise.client.AppImageRenderer</servlet-class>
	</servlet>

	<servlet>
		<display-name>styleRender</display-name>
		<servlet-name>AppStyleRender</servlet-name>
		<servlet-class>edu.ucla.wise.client.AppStyleRenderer</servlet-class>
	</servlet>

	<servlet>
		<display-name>setup_survey</display-name>
		<servlet-name>setup_survey</servlet-name>
		<servlet-class>edu.ucla.wise.client.SurveyInitializer</servlet-class>
	</servlet>

	<servlet>
		<display-name>save_anno_user</display-name>
		<servlet-name>save_anno_user</servlet-name>
		<servlet-class>edu.ucla.wise.client.AnonUserSaver</servlet-class>
	</servlet>

	<servlet>
		<display-name>consent_record</display-name>
		<servlet-name>consent_record</servlet-name>
		<servlet-class>edu.ucla.wise.client.ConsentHandler</servlet-class>
	</servlet>

	<servlet>
		<display-name>view_results</display-name>
		<servlet-name>view_results</servlet-name>
		<servlet-class>edu.ucla.wise.client.SurveyResultViewer</servlet-class>
	</servlet>


	<servlet>
		<display-name>view_open_results</display-name>
		<servlet-name>view_open_results</servlet-name>
		<servlet-class>edu.ucla.wise.client.OpenQuesSummaryReporter</servlet-class>
	</servlet>

	<servlet>
		<display-name>declineNOW</display-name>
		<servlet-name>declineNOW</servlet-name>
		<servlet-class>edu.ucla.wise.client.SurveyDecliner</servlet-class>
	</servlet>

	<servlet>
		<display-name>welcome</display-name>
		<servlet-name>welcome_generate</servlet-name>
		<servlet-class>edu.ucla.wise.client.WelcomePageGenerator</servlet-class>
	</servlet>

	<servlet>
		<display-name>thank_you</display-name>
		<servlet-name>thank_you_generate</servlet-name>
		<servlet-class>edu.ucla.wise.client.ThankYouGenerator</servlet-class>
	</servlet>
		
	<servlet>
		<display-name>start</display-name>
		<servlet-name>triage</servlet-name>
		<servlet-class>edu.ucla.wise.client.SurveyTriager</servlet-class>
	</servlet>

	<servlet>
		<display-name>progress</display-name>
		<servlet-name>progress</servlet-name>
		<servlet-class>edu.ucla.wise.client.ProgressPrinter</servlet-class>
	</servlet>

	<servlet>
		<display-name>view_form</display-name>
		<servlet-name>view_form</servlet-name>
		<servlet-class>edu.ucla.wise.client.SurveyFormRenderer</servlet-class>
	</servlet>

	<servlet>
		<display-name>admin_view_results</display-name>
		<servlet-name>admin_view_results</servlet-name>
		<servlet-class>edu.ucla.wise.client.admin.SurveyResultsViewer</servlet-class>
	</servlet>

	<servlet>
		<display-name>admin_view_form</display-name>
		<servlet-name>admin_view_form</servlet-name>
		<servlet-class>edu.ucla.wise.client.admin.FormViewer</servlet-class>
	</servlet>

	<servlet>
		<display-name>admin_reload</display-name>
		<servlet-name>admin_reload</servlet-name>
		<servlet-class>edu.ucla.wise.client.admin.SurveyReloader</servlet-class>
	</servlet>

	<servlet>
		<display-name>admin_survey_loader</display-name>
		<servlet-name>admin_survey_loader</servlet-name>
		<servlet-class>edu.ucla.wise.client.admin.LoadSurvey</servlet-class>
	</servlet>

	<servlet>
		<display-name>admin_survey_health_loader</display-name>
		<servlet-name>admin_survey_health_loader</servlet-name>
		<servlet-class>edu.ucla.wise.client.admin.SurveyHealthLoader</servlet-class>
	</servlet>

	<servlet>
		<display-name>admin_preface_loader</display-name>
		<servlet-name>admin_preface_loader</servlet-name>
		<servlet-class>edu.ucla.wise.client.admin.PrefaceLoader</servlet-class>
	</servlet>

	<servlet>
		<display-name>admin_survey_update</display-name>
		<servlet-name>admin_survey_update</servlet-name>
		<servlet-class>edu.ucla.wise.client.admin.SurveyUpdater</servlet-class>
	</servlet>

	<servlet>
		<display-name>admin_print_survey</display-name>
		<servlet-name>admin_print_survey</servlet-name>
		<servlet-class>edu.ucla.wise.client.admin.SurveyPrinter</servlet-class>
	</servlet>

	<servlet>
		<display-name>load_study_space</display-name>
		<servlet-name>load_study_space</servlet-name>
		<servlet-class>edu.ucla.wise.client.load_study_space</servlet-class>
	</servlet>

	<servlet>
		<display-name>print_study_space</display-name>
		<servlet-name>print_study_space</servlet-name>
		<servlet-class>edu.ucla.wise.client.StudySpacePrinter</servlet-class>
	</servlet>

	<servlet>
		<display-name>readform</display-name>
		<servlet-name>readform</servlet-name>
		<servlet-class>edu.ucla.wise.client.SurveyUserInputHandler</servlet-class>
	</servlet>

	<servlet>
		<display-name>consent_generate</display-name>
		<servlet-name>consent_generate</servlet-name>
		<servlet-class>edu.ucla.wise.client.ConsentFormGenerator</servlet-class>
	</servlet>

	<servlet>
		<display-name>survey</display-name>
		<servlet-name>begin</servlet-name>
		<servlet-class>edu.ucla.wise.client.BeginSurvey</servlet-class>
	</servlet>

	<servlet>
		<display-name>index</display-name>
		<servlet-name>index</servlet-name>
		<servlet-class>edu.ucla.wise.client.SurveyIndexer</servlet-class>
	</servlet>
	
	<servlet>
		<display-name>interview_login</display-name>
		<servlet-name>interview_login</servlet-name>
		<servlet-class>edu.ucla.wise.client.interview.interview_login</servlet-class>
	</servlet>

	<servlet>
		<display-name>interview_logout</display-name>
		<servlet-name>interview_logout</servlet-name>
		<servlet-class>edu.ucla.wise.client.interview.interview_logout</servlet-class>
	</servlet>

	<servlet>
		<display-name>consent_decline</display-name>
		<servlet-name>consent_decline</servlet-name>
		<servlet-class>edu.ucla.wise.client.ConsentDeclineHandler</servlet-class>
	</servlet>
		<servlet-mapping>
		<servlet-name>consent_decline</servlet-name>
		<url-pattern>/survey/consent_decline</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>setup_survey</servlet-name>
		<url-pattern>/survey/setup_survey</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>save_anno_user</servlet-name>
		<url-pattern>/survey/save_anno_user</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>consent_record</servlet-name>
		<url-pattern>/survey/consent_record</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>view_results</servlet-name>
		<url-pattern>/survey/view_results</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>view_open_results</servlet-name>
		<url-pattern>/survey/view_open_results</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>declineNOW</servlet-name>
		<url-pattern>/declineNOW</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>wise_frame</servlet-name>
		<url-pattern>/survey/wise_frame</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>welcome_generate</servlet-name>
		<url-pattern>/survey/welcome</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>thank_you_generate</servlet-name>
		<url-pattern>/survey/thank_you</url-pattern>
	</servlet-mapping>
		
	<servlet-mapping>
		<servlet-name>triage</servlet-name>
		<url-pattern>/survey/start</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>progress</servlet-name>
		<url-pattern>/survey/progress</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>admin_survey_loader</servlet-name>
		<url-pattern>/survey/admin_survey_loader</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>admin_survey_health_loader</servlet-name>
		<url-pattern>/survey/admin_survey_health_loader</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>view_form</servlet-name>
		<url-pattern>/survey/view_form</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>admin_view_results</servlet-name>
		<url-pattern>/survey/admin_view_results</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>admin_reload</servlet-name>
		<url-pattern>/survey/admin_reload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>admin_survey_loader</servlet-name>
		<url-pattern>/survey/admin_survey_loader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>load_study_space</servlet-name>
		<url-pattern>/survey/load_study_space</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>print_study_space</servlet-name>
		<url-pattern>/survey/print_study_space</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>readform</servlet-name>
		<url-pattern>/survey/readform</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>consent_generate</servlet-name>
		<url-pattern>/survey/consent_generate</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>begin</servlet-name>
		<url-pattern>/survey</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/survey/index</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>interview_login</servlet-name>
		<url-pattern>/survey/interview_login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>interview_logout</servlet-name>
		<url-pattern>/survey/interview_logout</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>wise_outer_frame</servlet-name>
		<url-pattern>/survey/wise_outer_frame</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AppImageRender</servlet-name>
		<url-pattern>/survey/imageRender</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AppStyleRender</servlet-name>
		<url-pattern>/survey/styleRender</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>Repeating_Item_IO</display-name>
		<servlet-name>Repeating_Item_IO</servlet-name>
		<servlet-class>edu.ucla.wise.client.RepeatingItemValuesSender</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>Repeating_Item_IO</servlet-name>
		<url-pattern>/survey/repeating_item_io</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Repeating_Item_Read_Input</display-name>
		<servlet-name>Repeating_Item_Read_Input</servlet-name>
		<servlet-class>edu.ucla.wise.client.RepeatingItemValuesReceiver</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>Repeating_Item_Read_Input</servlet-name>
		<url-pattern>/survey/repeating_set_read_input</url-pattern>
	</servlet-mapping>
		<servlet>
		<display-name>Repeating_Set_Control</display-name>
		<servlet-name>Repeating_Set_Control</servlet-name>
		<servlet-class>edu.ucla.wise.client.RepeatingItemHttpHandler</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>Repeating_Set_Control</servlet-name>
		<url-pattern>/survey/repeating_set_control</url-pattern>
	</servlet-mapping>
	
</web-app>